* {
    box-sizing: border-box;
}


.backbtn {
    position: fixed;
    top: 58px;
    left: 11px;
    width: 14px;
    background: none;
    box-shadow: none;
    z-index: 1;

}
body {
    margin: 0;
    display: grid;
    align-items: center;
    font-family: 'Avenir', 'Lato', sans-serif;
    overflow: scroll;
    background-color: #ededed;

}


.huset-logo {
    width: 7em;
    position: absolute;
    right: .5em;
    top: .7em;
}

.profile {
    width: 100%;
}
.friends-list {
    width: 100%;
    padding-left: .5em;
}


.burger-menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 5px;
    left: 9px;
}

.main-nav {
   overflow: hidden;
    transition: all .15s ease;
    font-family: Eczar, sans-serif;
    font-size: 21px;
    outline-color: #FFFFFF;
    width: 0;
    height: 800px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border: solid 1px grey;
    background-color: #FFF;

}

.main-nav a {
    text-decoration: none;
}

.main-nav ul {
    list-style: none;
}

.main-nav .closebtn {
    font-size: 36px;
    position: absolute;
    left: 87%;
    color: #FFF;
}

.open {
    width: 60%;
}

.close {
    width: 0;
}

.open-mq {
    width: 60%;
}

.main-nav ul a {
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: #818181;
    display: block;
    font-family: 'Avenir', 'Lato', sans-serif;

}

.main-nav ul {
    padding: 0 0 .5em 0 ;
    margin: 0;
}

.main-nav ul li {
    border-bottom: solid 1px #818181;
    padding: .5em;
}

.main-nav ul li.subli {
    padding-left: 1.5em;
}

.search-bar {
    background-color: #EDEDED;
    padding: .2em;
    border-radius: 10px;
    width: 80%;
    height: 36px;
    position: fixed;
    top: 3.3em;
    left: 2em;

}

input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  font-size: 14px;
    width: 87%;
    background-color: #EDEDED;

}

.search-icon {
    float: left;
    width: 30px;
}

header {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
    width:100%;
  height:100px;
  background:white;
  position:fixed;
    background-color: lightgray;
    z-index: 1;
}

footer {

   /* box-shadow: 0 -2px 5px rgba(57, 63, 72, 0.5); */
  width:100vw;
  height:15vw;
  position:fixed;
    bottom: 0;
    background: linear-gradient(-90deg, rgb(33, 231, 182), rgb(40, 76, 132));
}

}
.down {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

/*gradient navigation*/

.prof {
    width: 25px;
    position: fixed;
    bottom: 0.6em;
    margin-left: 20px;

}

.games_events{
    width: 30px;
    bottom: 0.6em;
    position: fixed;
    margin-left: 100px;

}
.cls-1{
    fill:none;
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:5px;
}
.active {
    filter: drop-shadow( 2px 3px 7px white );
}
.active .cls-1{


}
.food{
    width: 30px;
    bottom: 0.6em;
    position: fixed;
    margin-left: 200px;
}


.listgames{
    width: 30px;
    bottom: 0.6em;
    position: fixed;
    margin-left: 87vw;
}


a {
    text-decoration: none;
}

/* LIST OF EVENTS*/

.firstpost{
    margin-top: 30vw;
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 3px #000000;
    text-transform: uppercase;
    color: white;

}

article{
    background: linear-gradient(to right, rgba(42,79,130,1), rgba(255,0,0,0));
    position: relative;
    height: 50vw;
    color: #ffffff;
    bottom: 12vw;

}

article.bordgame:last-child{
   margin-bottom: .8em;
}

.pic{
    width: 100vw;
    height: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

h1 {
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin-bottom: 10vw;
    text-shadow: 0px 0px 3px #000000;
    background: linear-gradient(to right, rgba(42,79,130,1), rgba(4,0,0,0.5));

}
.descript{
    width: 100vw;
}

.calendar {
    width: 8%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-right: 10px;


}

.clock{
     width: 8%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-right: 15px;
}


.readmore{
    margin: 0px;
   position: absolute;
    bottom: 2.5em;
    right: 1.5em;
}
.readmore img {
    width: 35px;

    }

.date {
    padding-left: 10px;
    margin-bottom: 10px;
}

.time {
    padding-left: 10px;
}
 /* list of best games */

.TitleGame {
            margin-top: 40vw;
            margin-bottom: 20vw;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            text-shadow: 0px 0px 3px #000000;
            color: white;
        }

       .bestgame {
            background: linear-gradient(to right, rgba(42, 79, 130, 1), rgba(255, 0, 0, 0));
            position: relative;
            height: 50vw;
            color: #ffffff;
            bottom: 12vw;
        }

       .bestGameTitle {
            margin-top: 0px;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 2px;
            margin-bottom: 10vw;
            text-shadow: 0px 0px 3px #000000;

        }

        .picBGame {
            width: 100vw;
            height: 50vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
.location{

    margin-top: 20px;
    width: 1ovw;
    font-size: 16px;
}
.genre{
padding-top: 10px;
    font-size: 16px;
}

/* food*/


 .firstfood {
            margin-top: 30vw;
            margin-bottom: 1.5em;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            text-shadow: 0px 0px 3px #000000;
            text-transform: uppercase;
            color: white;
        }

        .foodArticle {

            position: relative;
            background: linear-gradient(to right, rgba(42, 79, 130, 1), rgba(255, 0, 0, 0));
            height: 50vw;
            color: #ffffff;
            bottom: 12vw;
        }

        .foodimg {
            width: 100vw;
            height: 50vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

.food{

}

/* subpage*/

#desc{

   margin-bottom: 20vw;
}

#singleGame{
    color: white;
    text-transform: uppercase;
     background: linear-gradient(to right, rgba(42,79,130,1), rgba(255,0,0,0));
}

.imagSub{

width: 100%;
}

h4 {
    padding-top: .4em;
}

