

.title{
    margin-top: 6.2em;
    text-align: center;
    font-family: "Avenir","Lato", sans-serif;

}

h1  {
    margin: 0;
    color: #000;
    font-weight:400;
    font-size: 30px;
}
.music-post{
    position: relative;
    border: none;
}

.event{
    margin-bottom: 1px;
    width: 100%;
    height: 210px;

}

.img-post{
    width: 100%;
    height: 210px;
}



.date {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
}

.date img {
    width: 18px;
    margin-right: 5px;
    float: left;
}

.time {
    position: absolute;
    bottom: -5px;
    left: 9.2em;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
}

.clock-time {
    width: 19px;
    margin-right: 5px;
    float: left;
}



.read-more {
    width: 18px;
    margin-left: 10px;
    float: right;
    bottom: 0;
}


.event h2{
    position: absolute;
    bottom: 2.5em;
    color: #FFF;
    padding-left: .5em;
    margin: 0;
    font-weight: 400;
    font-size: 24px;

}


.attend {
    width: 61px;
    float: right;
    margin-left: 1em;
    display: block;


}

.music-post:last-child {
    margin-bottom: 3em;
}

.continer {
    margin-top: 6em;
}

#postName {
    position: absolute;
    top: em;
    color: #FFF;
    padding-left: .5em;
    margin: 0;
    font-weight: 400;
    font-size: 24px;

}
