* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    align-items: center;
    font-family: 'Avenir', 'Lato', sans-serif;
    overflow: scroll;
    background-color: #ededed;

}


.huset-logo {
    width: 7em;
    position: absolute;
    right: .5em;
    top: .7em;
}

.profile {
    width: 100%;
}
.friends-list {
    width: 100%;
    padding-left: .5em;
}


.burger-menu {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 5px;
    left: 9px;
}

.main-nav {
   overflow: hidden;
    transition: all .15s ease;
    font-family: Eczar, sans-serif;
    font-size: 21px;
    outline-color: #FFFFFF;
    width: 0;
    height: 800px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    border: solid 1px grey;
    background-color: #FFF;

}

.main-nav a {
    text-decoration: none;
}

.main-nav ul {
    list-style: none;
}

.main-nav .closebtn {
    font-size: 36px;
    position: absolute;
    left: 87%;
    color: #FFF;
}

.open {
    width: 60%;
}

.close {
    width: 0;
}

.open-mq {
    width: 60%;
}

.main-nav ul a {
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: #818181;
    display: block;
    font-family: 'Avenir', 'Lato', sans-serif;

}

.main-nav ul {
    padding: 0 0 .5em 0 ;
    margin: 0;
}

.main-nav ul li {
    border-bottom: solid 1px #818181;
    padding: .5em;
}

.main-nav ul li.subli {
    padding-left: 1.5em;
}

.search-bar {
    background-color: #EDEDED;
    border-radius: 10px;
    width: 80%;
    height: 32px;
    position: fixed;
    top: 3.3em;
    left: 2em;

}

input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  font-size: 14px;
    width: 87%;
    background-color: #EDEDED;

}

.search-icon {
    float: left;
    width: 25px;
}

header {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.5);
    width:100%;
  height:92px;
  background:white;
  position:fixed;
    z-index: 1;
    background-color: lightgrey;
}

footer {
    padding: 0 1em 0em 3em;
    box-shadow: 0 -2px 5px rgba(57, 63, 72, 0.5);
    width:100%;
  height:2.7em;
  background:white;
  position:fixed;
    bottom: 0;
    background-color: lightgrey;
}
.social-networks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social-icons {
    width: 7%;
   position: fixed;
    bottom: .5em;
    margin-left: ;
}

img.title {
    width: 70%;
    margin-top: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

main ul li {
    padding: .2em 0;
}

.music-button {
    background: linear-gradient(to right, #233d80 0%,#d74061 70%,#d74061 100%);
}

.cinema-button {
   background: linear-gradient(to right, #2b3e81 0%,#2989d8 50%,#7db9e8 100%);
}

.board-games-button {
    background: linear-gradient(to right, #233d80 0%,#45a28c 100%);
}

.jazz-button {
    background: linear-gradient(to right, #233d80 0%,#d74061 70%,#d74061 100%);
}

.alternative-button {
    background: linear-gradient(to right, #233d80 0%,#6d5b97 70%,#6d5b97 100%);
}

.rock-button {
    background: linear-gradient(to right, #233d80 0%,#548dd4 70%,#548dd4 100%);
}

.folk-button {
    background: linear-gradient(to right, #233d80 0%,#45a28c 100%);
}

main ul li a {
    color: #FFF;
    width: 100%;
}

main ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.localnav-icons {
    width: 80%;
    margin-left: 1em;
}

.localnav li {
    margin-bottom: 1px;
}

.sageata {
    width: .8em;
}

.genre-nav {
    padding: .8em;
    padding-left: 1.2em;
    font-size: 18px;
}

.genre-nav a img {
    float: right;
    margin-right: 1em;
}

.genre-nav a {
    padding-right: 164px;
}

h2.title {
    font-size: 20px;
    margin: 7em 1em 0;
    font-weight: 500;
}

.backbtn {
    position: fixed;
    top: 58px;
    left: 11px;
    width: 14px;
    background: none;
    box-shadow: none;
    z-index: 1;

}
